/* =============================================================================
   Typography
========================================================================== */

// font-face
// font-size
// font-smoothing
// hide-text
// link-border-bottom

@mixin font-face ($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
         url('#{$file-path}.woff') format('woff'),
         url('#{$file-path}.ttf') format('truetype'),
         url('#{$file-path}.svg##{$font-family}') format('svg');
  }
}

@mixin font-size($value, $base: $size-base) {
    $rem: $value/$base;
    font-size:$value + px;
    font-size:$rem + rem;
}

@mixin font-smoothing($value) {
    font-smoothing:$value;
    -webkit-font-smoothing:$value;
}

@mixin hide-text() {
    overflow: hidden;
    text-indent:100%;
    white-space:nowrap;
}

@mixin link-border-bottom ($color: inherit, $style: solid, $width: 1px ) {
  text-decoration: none;

  border-bottom-width: $width;
  border-bottom-style: $style;
  @if $color != inherit {
    border-bottom-color: $color;
  }
}

@mixin rem($property, $value, $base: $size-base) {
    $rem: $value / $base;
    #{$property}: $value + px;
    #{$property}: $rem + rem;
}
