---
title: Contact - 3/8 - Design and print of custom t-shirt for college and conferences.
classes: page contact
---

<div class="row large-centered">

    <h1>Get in Touch</h1>

    <div class="large-6 columns">
        <h2>Drop us a mail</h2>
         <p>
            To get the conversation going there is always a mail. <br/> We have one too! <a href="mailto:hello@3by8.com">hello@3by8.com</a>
         </p>
    </div>
    <div class="large-6 columns">
        <h2>Call Us</h2>
        <p> If email is too old fashioned for you, <br/>call us at <a href="tel:+919623378826">+91 96 233 788 26</a></p>
    </div>
</div>
<div class="row medium-centered">
    <h3>
        <a href="https://twitter.com/3by8" data-tooltip data-options="disable_for_touch:true" class="has-tip" title='Follow us at Twitter'><i class='fi-social-twitter'></i></a>
        <a href="http://facebook.com/3by8.in"
            data-tooltip data-options="disable_for_touch:true"
            class="has-tip"
            title='Join us at Facebook'><i class='fi-social-facebook'></i> /3by8</a>
    </h3>
</div>
