---
title: 3/8 - Design and print of custom t-shirt for college and conferences.
classes: page welcome landing
---

<div class="welcome">
  <%= partial "partials/svg-emblem" %>
  <h1>Be yourself , Be different</h1>
  <p>
     <a href="/showcase" class="button round">Checkout our Showcase</a>
  </p><!-- .doc -->
</div><!-- .welcome -->
